project/dexter-daemon/bin/
project/dexter-daemon/src/resource/dexter-cli.zip
project/dexter-eclipse/bin/
project/dexter-eclipse-help/bin/
project/dexter-eclipse-ui/bin/
project/client/
project/log/
project/output/
project/dexter-core/bin/
project/dexter-core/log/
project/dexter-core/output/
project/dexter-core/lib/
project/dexter-executor/bin/
project/dexter-executor/log/
project/dexter-executor/dist/
project/dexter-executor/temp/
project/dexter-executor/install/
project/dexter-executor/lib/
project/dexter-executor/output/
project/dexter-metrics/bin/
project/dexter-metrics/log/
project/dexter-metrics/lib/
project/dexter-metrics/output/
project/dexter-cppcheck/bin/
project/dexter-cppcheck/log/
project/dexter-cppcheck/dist/
project/dexter-cppcheck/temp/
project/dexter-findbugs/bin/
project/dexter-findbugs/dist/
project/dexter-server/node_modules/
project/dexter-server/public/plugin/
project/dexter-server/**/*.log
project/dexter-server/**/workspace.xml
project/dexter-server/.idea/workspace.xml
project/dexter-server/log/