project/client/dexter-daemon/bin/
project/client/dexter-daemon/src/resource/dexter-cli.zip
project/client/dexter-eclipse/bin/
project/client/dexter-eclipse-help/bin/
project/client/dexter-eclipse-ui/bin/
project/core/client/
project/core/log/
project/core/output/
project/core/dexter-core/bin/
project/core/dexter-core/log/
project/core/dexter-core/output/
project/core/dexter-core/lib/
project/core/dexter-executor/bin/
project/core/dexter-executor/log/
project/core/dexter-executor/dist/
project/core/dexter-executor/temp/
project/core/dexter-executor/install/
project/core/dexter-executor/lib/
project/core/dexter-metrics/bin/
project/core/dexter-metrics/log/
project/plugin/dexter-cppcheck/bin/
project/plugin/dexter-cppcheck/log/
project/plugin/dexter-cppcheck/dist/
project/plugin/dexter-cppcheck/temp/
project/plugin/dexter-findbugs/bin/
project/plugin/dexter-findbugs/dist/
project/server/dexter-server/node_module/
project/server/dexter-server/public/plugin/
project/server/dexter-server/**/*.log
project/server/dexter-server/**/workspace.xml
project/server/dexter-server/.idea/workspace.xml
project/server/dexter-server/log/
