/*
 * View
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.view {
  float: left;
  padding-top: 30px;
  padding-left: 200px;
}

.grid-weekly-project {
  width: 100%;
  height: 650px;
}

.grid-weekly-group {
  width: 99%;
  height: 650px;
}

.grid-defect-project {
  width: 920px;
  height: 650px;
}

.grid-user-project {
  width: 920px;
  height: 650px;
}

.grid-user-group {
  width: 920px;
  height: 650px;
}

.grid-current-user {
  width: 100%;
  height: 650px;
}

.grid-current-project {
  width: 100%;
  height: 650px;
}

.grid-weekly-change {
  width: 920px;
  height: 650px;
}

.grid-overview-summary {
  width: 100%;
  height: 62px;
}

.grid-overview-installation-status {
  width: 100%;
  height: 350px;
}

.grid-overview-defect-status {
  width: 100%;
  height: 350px;
}

.grid-user-id {
  text-align: center;
}

.grid-align {
  text-align: center;
}

.server-status-active {
  color: green;
  font-weight: bold;
}

.server-status-inactive {
  color: red;
  font-weight: bold;
}

.year-change {
  min-width: 80px;
  max-width: 80px;
}

.project-change {
  min-width: 170px;
  max-width: 170px;
}

.group-change {
  min-width: 170px;
  max-width: 170px;
}

td.inner {
  padding-right:10px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}