/*
 * View
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.view {
  float: left;
  padding-top: 30px;
  padding-left: 200px;
}

.grid-defect-all {
  width: 1207px;
  height: 650px;
}

.grid-defect-group {
  width: 1010px;
  height: 650px;
}

.grid-defect-project {
  width: 920px;
  height: 650px;
}

.grid-user-project {
  width: 920px;
  height: 650px;
}

.grid-user-group {
  width: 920px;
  height: 650px;
}

.grid-user-all {
  width: 1090px;
  height: 650px;
}

.grid-current-summary {
  width: 920px;
  height: 80px;
}

.grid-current-detail {
  width: 920px;
  height: 500px;
}

.grid-weekly-change {
  width: 920px;
  height: 650px;
}

.grid-user-id {
  text-align: center;
}

.grid-align {
  text-align: center;
}

.year-change {
  min-width: 80px;
  max-width: 80px;
}

.project-change {
  min-width: 170px;
  max-width: 170px;
}

.group-change {
  min-width: 170px;
  max-width: 170px;
}

td.inner {
  padding-right:10px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}