<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<div class="wrapper">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Remove Module Path(s) For SE</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Multi select the Module Path(s) which you want to remove defect</label>
                        <select id="removeModulePath" class="form-control module-select" multiple="multiple"
                                data-placeholder="Click 'Get Module' button and Select ModulePath(s)" style="width: 100%;">
                        </select>
                    </div>
                </div>

                <a class="btn btn-app" ng-click="getModulePathList()">
                    <i id="isGetModuleButtonSelected" class="fa fa-cloud-download"></i> Get Module
                </a>

                <a class="btn btn-app" ng-click="deleteModulePathList()">
                    <span id="removeModuleCount" class="badge bg-teal">0</span>
                    <i id="isModuleSelected" class="fa fa-folder"></i> Remove
                </a>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Remove Defect(s) For SE</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Multi select the Did(s) which you want to remove</label>
                        <select id="removeDid" class="form-control did-select" multiple="multiple"
                                data-placeholder="Click 'Get Did List' button and Select Did(s)" style="width: 100%;">
                        </select>
                    </div>
                </div>

                <a class="btn btn-app" ng-click="getDidList()">
                    <i id="isGetDidButtonSelected" class="fa fa-cloud-download"></i> Get Did List
                </a>

                <a class="btn btn-app" ng-click="deleteDidList()">
                    <span id="removeDidCount" class="badge bg-teal">0</span>
                    <i id="isDidSelected" class="fa fa-minus-square"></i> Remove
                </a>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</div>