<div class="view">
    <div>
        <div>
            <span style="font-size:18pt">Current user list of all projects</span>
            <span style="font-size:11pt"> ({{time}})</span>
            <span style="float:right;font-size:10pt;"><b>{{serverStatusString}}</b></span>
        </div>
        <div class="grid-current-user" id='currentUserGrid' ui-grid="gridOptions"
             ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
        </div>
    </div>
</div>