<div class="view">
    <div class="container">
        <h3>Defect list by project</h3>
        <br>
        <table><tr>
            <td class="inner">
                <div class="dropdown" uib-dropdown>
                    <button type="button" class="btn btn-primary project-change" data-toggle="dropdown" id="project-change">
                        {{defect.curProjectName}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu project-change" uib-dropdown-menu role="menu" aria-labelledby="project-change">
                        <li ng-repeat="projectName in defect.projectNames">
                            <a ng-click="defect.projectChanged(projectName)" href>{{projectName}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <div ng-if="defect.curProjectType"><h4>[Type] {{defect.curProjectType}}&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;[Group] {{defect.curProjectGroup}}&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;[Language] {{defect.curProjectLang}}</h4></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><div class="grid-defect-project" id='defectByGroupGrid' ui-grid="defect.gridOptions"
                     ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
            </div></td>
        </tr>
        </table>
    </div>
</div>