<div style="width:95%; margin-left:auto; margin-right:auto;">
    <h3><p>Server Status</p></h3>
    <h5><span style="background-color:red; color:white;">{{main.errorMessage}}</span></h5>
    <hr>
    <h4>Inactive List: {{main.inactiveServerGridOptions.data.length}}</h4>
    <div id='inactiveTable' ui-grid="main.inactiveServerGridOptions"
         ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize
         style="height: 500px;"></div>
    <br><hr><br>
    <h4>Active List: {{main.activeServerGridOptions.data.length}}</h4>
    <div id='activeTable' ui-grid="main.activeServerGridOptions"
         ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize
         style="height: 500px;"></div>
</div>
