<div class="view">
    <div class="container">
        <div>
            <span style="font-size:18pt">Summary</span>
            <span style="font-size:11pt"> ({{time}})</span>
        </div>
        <div class="grid-overview-summary" id='overviewSummaryGrid' ui-grid="summaryGridOptions"
             ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
        </div>
        <br><br>
        <div>
            <span style="font-size:18pt">Current installation status</span>
            <span style="font-size:11pt"> ({{time}})</span>
        </div>
        <div class="grid-overview-installation-status" id='overviewInstallationStatusGrid' ui-grid="installationStatusGridOptions"
             ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
        </div>
        <br><br>
        <div>
            <span style="font-size:18pt">Current defect status</span>
            <span style="font-size:11pt"> ({{time}})</span>
        </div>
        <div class="grid-overview-defect-status" id='overviewDefectStatusGrid' ui-grid="defectStatusGridOptions"
             ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
        </div>
        <br><br>
    </div>
</div>