<div class="view">
    <div class="container">
        <h3>User list by group</h3>
        <br>
        <table><tr>
            <td class="inner">
                <div class="dropdown" uib-dropdown>
                    <button type="button" class="btn btn-primary group-change" data-toggle="dropdown" id="group-change">
                        {{user.curGroupName}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu group-change" uib-dropdown-menu role="menu" aria-labelledby="group-change">
                        <li ng-repeat="groupName in user.groupNames">
                            <a ng-click="user.groupChanged(groupName)" href>{{groupName}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-info" ng-click="user.getExtraInfo()">
                    See extra user information <span class="glyphicon glyphicon-hand-down"></span>
                </button>
            </td>
        </tr>
            <tr>
                <td>
                </td>
                <td><div class="grid-user-group" id='userByGroupGrid' ui-grid="user.gridOptions"
                         ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
                </div></td>
            </tr>
        </table>
    </div>
</div>