<div class="view">
    <div class="container">
        <h3>Weekly status of all groups</h3>

        <table><tr>
            <td class="inner">
                <div class="dropdown" uib-dropdown>
                    <button type="button" class="btn btn-primary year-change" data-toggle="dropdown" id="year-change">
                        {{curYear}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu year-change" uib-dropdown-menu role="menu" aria-labelledby="year-change">
                        <li ng-repeat="year in years">
                            <a ng-click="setCurrentYearAndReloadData(year)" href>{{year}}</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <uib-pagination boundary-link-numbers="true" direction-links="false" max-size="21" items-per-page="1"
                                total-items="maxWeekOfCurYear" ng-model="curWeek" ng-change="setCurrentWeekAndReloadData()">
                </uib-pagination>
            </td>
        </tr></table>
        <div class="grid-weekly-group" id='weeklyGroupGrid' ui-grid="gridOptions"
             ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
        </div>
    </div>
</div>